<h1>Todos mis productos</h1>
<p style="font-size: 1.6em;font-weight:bold;color:#f00">{{error}}</p>
{{#each prods}}
<h3>Producto {{this.title}}:</h3>
<ul>
  <li>Descripción: {{this.description}}</li>
  <li>Codigo: {{this.code}}</li>
  <li>Precio: {{this.price}}</li>
  <li>Status: {{this.status}}</li>
  <li>Stock: {{this.stock}}</li>
  <li>Categoría: {{this.category}}</li>
  <li>Miniaturas: {{this.thumbnails}}</li>
  <li>Id: {{this._id}}</li>
</ul>
{{/each}}